.chat {
	overflow:hidden;
}

.row{
	margin-bottom: 10px;
}

.bubble{
	display: inline-block;
	padding: 10px 18px;
	position: relative;
	vertical-align: top;
	clear: both;
	word-break: break-all;
}

.bubble::before {
	content: "\00a0";
	display: block;
	height: 16px;
	position: absolute;
	top: 11px;
	transform: rotate( 29deg ) skew( -35deg );
	-moz-transform: rotate( 29deg ) skew( -35deg );
	-ms-transform: rotate( 29deg ) skew( -35deg );
	-o-transform: rotate( 29deg ) skew( -35deg );
	-webkit-transform: rotate( 29deg ) skew( -35deg );
	width:  20px;
}

.you {
	float: left;   
	margin: 5px 45px 5px 20px;
	background-color: #F2F2F2;
}

.you::before {
	box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
	left: -9px;
	background-color: #F2F2F2;   
}

.me {
	float: right;
	margin: 5px 20px 5px 45px;
	background-color: #9ef57c;
}

.me::before {
	box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
	right: -9px;
	background-color: #9ef57c;
}

.chip.small{
	height: 16px;
	font-size: 10px;
	line-height: 16px;
	padding: 0 6px;
}

#survey {
	padding: 10px 0px;
}

#msg {
	margin-top: 80px;
	padding: 0px 10px;
}

.bottom-space {
	margin-bottom: 80px;
}

.hidden {
	display: none;
}


.small {
	font-size: small;
}


/* CARDS */

.card .card-person {
	padding: 10px 16px;
}

.card .card-person .person-avatar {
	margin: -5px 10px 0px 0px;
}

/* USER CARDS */

.card.user-card .person-avatar {
	margin: 5px auto;
}

.card.user-card .content {
	padding: 5px;
}

.card.user-card .action {
	padding: 5px 0px;
}

.card.user-card .action .material-icons {
	position: relative;
	top: 3px;
	font-size: 1.5rem;
	margin: 0px 5px;
}

.card.user-card .action a {
	color: inherit;
}


/* CHAT */

ul.chat {
	position: relative;
}

ul.chat li {
	display: inline-block;
	clear: both;
	width: 80%;
	padding: 10px 20px;
	border-radius: 20px;
	margin-bottom: 3px;
}

.chat .left {
	color: #757575;
	background: #eee;
	margin-left: 15px;
	float: none;
}

.chat .left .person-avatar {
	position: relative;
	top: 25px;
	left: -35px;
	margin-top: -30px;
	float: left;
}

.chat .right {
	color: #fff;
	background: #66bb6a;
	margin-right: 15px;
	float: right;
}

.chat .right .person-avatar {
	position: relative;
	top: 25px;
	right: -35px;
	margin-top: -30px;
	float: right;
}

.chat .date {
	margin-left: 5px;
	font-size: x-small;
}

span.comments {
	background: #eeeeee;
	border-radius: 2px;
	padding: 2px;
}