/* MESSAGES */

.middle-center {
	padding: 150px 40px 0px 40px;
}

.solved, .closed {
	color: #e53935 !important;
}

/* SURVEY */

#survey {
	padding: 15px 0px;
}

#survey p {
	margin-top: 0px;
}

/* TAGS */

.chip .icon {
	float: left;
	font-size: 16px;
	line-height: 32px;
	padding-right: 5px;
}

.chip.tiny {
	height: 20px;
	padding: 0 10px;
	line-height: 20px;
	font-size: x-small;
}

.chip.tiny .icon {
	line-height: 20px;
}

.chip.clear {
	color: rgba(0,0,0,0.87);
	margin: 0px;
	padding: 0px;
	background-color: transparent;
}

.chip.spacing {
	margin-right: 5px;
}

/* CARDS */

.card .card-person {
	padding: 10px 16px;
}

.card .card-person .person-avatar {
	margin: -5px 10px 0px 0px;
}

/* FLOAT BUTTON */

.bottom-space {
	margin-bottom: 80px;
}

.btn-floating.second {
	margin-right: -10px;
	width: 45px;
	height: 45px;
	line-height: 58px;
}

/* CHAT */

ul.chat {
	position: relative;
}

ul.chat li {
	display: inline-block;
	clear: both;
	width: 80%;
	padding: 10px 20px;
	border-radius: 20px;
	margin-bottom: 3px;
}

.chat .left {
	color: #757575;
	background: #eee;
	margin-left: 15px;
	float: none;
}

.chat .left .person-avatar {
	position: relative;
	top: 25px;
	left: -35px;
	margin-top: -30px;
	float: left;
}

.chat .right {
	color: #fff;
	background: #66bb6a;
	margin-right: 15px;
	float: right;
}

.chat .right .person-avatar {
	position: relative;
	top: 25px;
	right: -35px;
	margin-top: -30px;
	float: right;
}

.chat .date {
	margin-left: 5px;
	font-size: x-small;
}

/* ONE-LINE COLLECTION */

.collection.one-line .avatar {
	min-height: 63px;
	padding-right: 45px;
}

.collection.one-line .material-icons {
	margin-top: 5px;
}
