<div class="row">
	<div class="col s12">
		<ul class="tabs tabs-fixed-width">
			<li class="tab"><a href="#" class="active">Preguntas</a></li>
			<li class="tab"><a href="#" onclick="apretaste.send({command: 'AYUDA SOPORTE'})">Soporte</a></li> 
		</ul>
	</div>
</div>

<div class="row">
	<% faq.forEach(function(item){ %>
		<div class="col s12">
			<div class="card">
				<div class="card-content">
					<span class="card-title"><%= item.title %></span>
				</div>
				<div class="card-action grey lighten-4">
					<a class="green-text" href="#!" onclick="apretaste.send({'command':'AYUDA RESPUESTA', 'data':{'id':'<%= item.id %>'}})">Ver más</a>
					<span class="chip tiny clear right"><i class="fas fa-eye"></i> <%= item.views %></span>
				</div>
			</div>
		</div>
	<% }) %>
</div>
